    <!--        FOOTER        -->
    <footer>
        <!--<div class="continer" style="border: 2px solid green;"> -->
        <div class="container" style="font-size:x-small;font-style:italic;">
            <hr class="soiola">
            {% if config.SITE.WSUBTITLE %}
            <div> <p> {{ config.SITE.WSUBTITLE }} </p> </div>
            {% endif %}
            <div class="container-fluid d-none d-sm-block" style="padding:0;">
                <p>
                    <a href="https://github.com/l-dfa/flask_covid" target="_blank">{{ _('A web site section') }}</a>,
                    &nbsp;ver.{{ config.VER }}
                    &nbsp;{{ _('powered by') }}:
                    <a href="https://www.python.org/" target="_blank">Python</a>,
                    <a href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a>,
                    <a href="https://pandas.pydata.org/" target="_blank">Pandas</a> {{ _('and') }}
                    <a href="https://matplotlib.org/" target="_blank">Matplotlib</a>
                    {% if config.SITE.WLICENSE %}
                        <span style="float:right;">
                        {{ _('Under a') }} <a rel="license" href="{{ config.SITE.WLICENSEREF }}" target="_blank">{{ config.SITE.WLICENSE }}</a>.
                        </span>
                    {% endif %}
                </p>
            </div>
        </div>
    </footer>
