{% extends "base.html" %}

{% block content %}

    <div class="container" style="background-color:WhiteSmoke;overflow-y:auto;">
        <h3>{{ _('Time trend analysis of Covid-19 outbreak') }}</h3>
        <div>
            <p>
            {{ _('This site section is to show the time trend of Covid-19 outbreak') }}.</p>
            
            <p>
            {{ _('Here you can select one or more') }} <a href="{{ url_for('views.select') }}">{{ _('nations or continents') }}</a>
            {{ _('to compare their time trend of total cases of positive infection to the viruses') }}.
            {{ _('Please do not select too many nations, or the graph will be unreadable') }}.
            {{ _('You can select a time interval to show the trend inside it')}}.
            {{ _('In this case be warned that, by now, you lost data present in days before the chosen start of the time interval')}}.
            </p>

            <p>
            {{ _('Alternatively you can use') }} <a href="{{ url_for('views.other_select') }}">{{ _('some other query type') }}</a>.
            {{ _('By now here you can check data about all the world as a unit') }}.
            {{ _('However, be aware that you can select the World also as a continent in') }} <i>{{ _('nations or continents') }}</i>.
            </p>

            <p>
            {{ _('Data available range from') }} {{ FIRST }} {{ _('to') }} {{ LAST }} {{ _('and regard') }} {{ HOW_MANY}} {{ _('between countries and territories')}}.
            </p>

            <h4>{{ _('Reference') }}</h4>
            <div>
                <p>
                {{ _('This site uses') }} 
                <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">{{ _('data') }}</a>
                {{ _('published by') }}
                <a href="https://www.ecdc.europa.eu/en">{{ _('European Centre for Disease Prevention and Control') }}</a>.
                
                {{ _('This Agency every day at noon updates data about the spread of
                Covid-19 disease in all the world') }}.
                {{ _('Therefore this site is updated at 13:15 CET (or CEST, when daylight saving time is in charge)') }}. 
                </p>
            </div>   
                
            <h4>{{ _('Goodbye') }}</h4>
            <div>
                <p>{{ _('Thank you to visit this site') }}. 
                {{ _('Just in case you have nothing more interesting to do, here you can') }} <a href="https://luciano.defalcoalfano.it">{{ _('read my blog') }}</a>. 
                {{ _('Most of the articles are in Italian language, some of them are translated in English language') }}.
                </p>
                
                <p>
                Enjoy. ldfa
                </p>
            </div>
            
            <hr>

            <p>
                <a data-toggle="collapse" href="#history"> <span style="border: 1px solid; border-radius: 5px;"> {{ _('click here') }} </span></a> &nbsp;
                {{ _('to show/hide history of this section') }}
            </p>
            
            <div class="collapse" id="history">
                <dl>
                
                    <dt>ver.1.2</dt>
                        <dd>- {{_('UI: separating mandatory main fields (cases, deaths) from optional secondary fields (cases/day, ...)') }}</dd>
                        <dd>- {{_("reorganizing select UI (fields, time interval, ... on top of user's window)") }}</dd>
                        <dd>- {{_('adding ratio over population') }}</dd>
                        <dd>- {{_('adding "Worst World" query in other select') }}</dd>
                        <dd>- {{_('adding "Worst EU" query in other select') }}</dd>
                    <dt>ver.1.1</dt>
                    <dd>- {{_('adding field cases/day') }}</dd>
                    <dd>- {{_('changing denomination field d²cases_dt² to &Delta;cases/day') }}</dd>
                    <dd>- {{_('using bootstrap icons instead of "more info ..."') }}</dd>
                    
                    <dt>ver.1.0</dt>
                    <dd>- {{_('adding possibility to show observations about the entire World') }}</dd>
                    <dt>ver.08</dt>
                    <dd>- {{_('adding possibility to chose date interval, check them and check nations vs continents') }}</dd>
                    <dt>ver.07</dt>
                    <dd>- {{_('added a table of data values on the last day in the picture') }}</dd>
                    <dt>ver.06</dt>
                    <dd>- {{_('added a summary table of data used to build chosen observations to draw') }}</dd>
                    
                    <dt>ver.05</dt>
                    <dd>- {{_('added European Union in nations') }}</dd>
                    <dd>- {{_('added South, Central and North America sub continents') }}</dd>
                    <dt>ver.04</dt>
                    <dd>- {{_('added the second derivative of total positive cases to show the curve concavity') }}</dd>
                    <dd>- {{_('a better user interface to select nations') }}</dd>
                    <dt>ver.03</dt>
                    <dd>- {{_('added the comparison between continents') }}</dd>
                    <dt>ver.02</dt>
                    <dd>- {{_('user can choose what infos to plot: positive cases and/or deaths') }}</dd>
                </dl>                
            </div>

        </div>
        
    </div>
{% endblock %}