{% extends "base.html" %}

{% block content %}

    <div class="container" style="background-color:WhiteSmoke;overflow-y:auto;">
        <div class="row">
            <div class="col-12">
                {% if img_data %}
                    <div>
                        <h3>{{ _('Time trend of ...')}} </h3>
                            <p> {{ _('... these observations related to Covid-19') }}:</p>
                            <ul>
                            {% for column in columns %}
                                <li>{{ all_fields[column]['short']}}
                                    <a data-toggle="collapse" href="#explain{{column}}">{{ _('More info') }} ...</a>
                                    <br>
                                    <div class="collapse" id="explain{{column}}">
                                        <p>
                                            <span style="font-weight: bold;">{{column}}</span> {{ all_fields[column]['explanation'] }}
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                            
                        {% if countries %}
                        <div>
                            {% if kwargs.contest == 'nations' %}
                                <p> {{ _('about these nations') }}:</p>
                            {% elif kwargs.contest == 'continents'%}
                                <p> {{ _('about these continents') }}:</p>
                            {% else %}
                                <p> {{ _('about all the World') }}.</p>
                            {% endif %}
                            {% if kwargs.contest == 'nations' or kwargs.contest == 'continents' %}
                                <ul>
                                {%for country in countries %}
                                    <li>{{ country }}
                                        {% if continents_composition is not none %}
                                            <a data-toggle="collapse" href="#explain{{country}}">{{ _('More info') }} ...</a>
                                            <br>
                                            <div class="collapse" id="explain{{country}}">
                                                <p style="border: 1px solid; border-radius: 5px;">
                                                {{ _('Countries in')}} {{country}} {{_('are:')}}
                                                {% for nation in continents_composition[country].values() %}
                                                    {{nation}} {% if loop.index != loop.length %}, {% endif%}
                                                {% endfor %}
                                                </p>
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        {% endif %}
                        
                        <div>
                            <p>{{ _('Time interval is from:')}} {{time_interval[0]}} {{_('to:')}} {{time_interval[1]}}.</p>
                        </div>
                    </div>
                    
                    <div>
                        {% if overlap %}
                            <div>
                                <p>{{ _('Beware of fact the below image overlap the lines of the different') }} 
                                   {% if kwargs.contest == 'nations' %}
                                       {{ _('nations') }}.
                                   {% else %}
                                       {{ _('continents') }}.
                                   {% endif %}
                                </p>
                                <p>{{ _('To do so, lines are translated each other by the day where they exceed a treshold of') }}
                                   {{ threshold }} {{ _('cases in a couple of adjacent days') }}. </p>
                                <p>{{ _('If you wish, you can') }}, <a href="{{ url_for('views.draw_graph', **kwargs) }}">{{ _('go back to the normal view') }}</a>. </p>
                            </div>
                        {% elif countries|count > 1 and columns|count == 1 %}
                            <div>
                                <p>{{ _('If you wish') }}, <a href="{{ url_for('views.draw_graph', **kwargs) }}">{{ _('you could overlap') }}</a> 
                                {% if kwargs.contest == 'nations' %}
                                    {{ _('the lines of these nations') }}.
                                {% else %}
                                    {{ _('the lines of these continents') }}.
                                {% endif %}
                                </p>
                            </div>
                        {% endif %}
                        {% for key in request.args.keys() %}
                            <p> {{key}} </p>
                        {% endfor %}
                        <div>
                           {{ img_data|safe }}
                        </div>
                    </div>
                {% endif %}
                {% if html_table_last_values %}
                    <div>
                        <p></p>
                        <h5>{{ _('Data on last day') }}.</h5>
                        <p> {{ _('Hereafter the values of data on last day drawn in the former graph') }}.<br>
                        </p>
                        <p></p>
                        {{ html_table_last_values|safe }}
                    </div>
                {% endif %}
                {% if html_table %}
                    <div>
                        <p></p>
                        <h5>{{ _('Summary of data used to build chosen observations to draw') }}.</h5>
                        <p> {{ _('Here a synthesis of data used to build the former graph') }}.<br>
                            {{ _('Specifically, in the graph we use daily positive cases to build cumulative positive cases') }},
                            {{ _('and daily deaths to build cumulative deaths') }}.<br>
                            {{ _('Hereafter, to summarize data we sum them on every single week') }},
                            {{ _('then figures are calculated as a daily mean over the week') }}.<br>
                        </p>
                        <p></p>
                        {{ html_table|safe }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}