{% extends "base_select.html" %}

{% block on_what_plot %}
            <div class="row">
                <div class="col-md-12">
                <p>{{_('For every selected country or continent')}}: </p>
                </div>
            </div>
{% endblock %}

{% block selection_lists %}

            <div class="row">
                <div class="col-md-3">
                    <p><span  style="font-style: italic;text-decoration: underline;">{{_('Geographical entity')}}</span> {{_('to select')}}.
                       <a data-toggle="collapse" href="#explainGeo"><span><img src="/static/images/bootstrap-icons-1.0.0/question-circle.svg" alt="" width="16" height="16" title="more_info"></span></a>
                    </p>
                <div class="collapse" id="explainGeo">
                    <p>
                    <span style="font-weight: bold;">nations</span>    {{ _('enables the box to select from countries and territories; while') }},
                    <span style="font-weight: bold;">continents</span> {{ _('enables the box to select what continent(s) to display') }}.
                    <br>
                    {{_('Continents definitions (so: what countries are in every continent) are from United Nations and/or Wikipedia')}}.
                    <br>
                    {{_('The population data in the database are from the World Bank')}}.
                    </p>
                </div>
                    <p>
                        {# {{ form.fields.label }}<br> #}
                        {{ form.context(**{ 'id':    'context',
                                            'style': 'list-style-type:none;padding:0;margin:0;',
                                          }
                                       ) }}<br>
                        {% for error in form.context.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="col-md-6">
                    <p> <span  style="font-style: italic;text-decoration: underline;">{{ _('Countries and territories') }}</span></p>
                    <p>
                        {# {{ form.countries.label }}<br> #}
                        {{ form.countries(size=22, **{ 'id':       'nations',
                                                       'data-toggle':    'tooltip',
                                                       'data-delay': 1500,
                                                       'title':    TOOLTIP_TITLE
                                                     }
                                         ) }}<br>
                        {% for error in form.countries.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="col-md-3">
                    <p> <span  style="font-style: italic;text-decoration: underline;">{{ _('Continents') }}</span></p>
                    <p>
                        {# {{ form.continents.label }}<br> #}
                        {{ form.continents(size=continents|length, **{ 'id':       'continents',
                                                                       'disabled': 'true',
                                                                       'data-toggle':    'tooltip',
                                                                       'data-delay': 1500,
                                                                       'title': TOOLTIP_TITLE,
                                                                       'style': 'scrollbar-width: none;',
                                                                     }
                                          ) }}<br>
                        {% for error in form.continents.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
            
{% endblock %}


{% block javascript %}
    <script>
        $(function (){$('[data-toggle="tooltip"]').tooltip()} )</script>
    <script>
        $(function() {
                var in_context = $("input[name=context]:checked").val();
                if(in_context=='nations'){
                    document.getElementById('nations').disabled = false;
                    document.getElementById('continents').selectedIndex = -1
                    document.getElementById('continents').disabled = true;
                    }
                else if(in_context=='continents'){
                    document.getElementById('nations').selectedIndex = -1;
                    document.getElementById('nations').disabled = true;
                    document.getElementById('continents').disabled = false;
                    }
                }) 
    </script>
    <script>
        $(function() {
            $('#context li').click( function() {
                var in_context = $("input[name=context]:checked").val();
                console.log(in_context);
                if(in_context=='nations'){
                    document.getElementById('nations').disabled = false;
                    document.getElementById('continents').selectedIndex = -1
                    document.getElementById('continents').disabled = true;
                    }
                else if(in_context=='continents'){
                    document.getElementById('nations').selectedIndex = -1;
                    document.getElementById('nations').disabled = true;
                    document.getElementById('continents').disabled = false;
                    }
                }) })
    </script>
{% endblock %}
