{% extends "base_select.html" %}

{#
    {% block on_what_plot %}
            <div class="row">
                <div class="col-md-12">
                <p>{{_('For every quey')}}: </p>
                </div>
            </div>
    {% endblock %}
#}

{% block selection_lists %}
                    <div class="row">
                        <div class="col-md-5">
                            <p><span  style="font-style: italic;text-decoration: underline;">{{_('Type of query')}}</span> {{_('to select') }}.
                               <a data-toggle="collapse" href="#explainQuery"><span><img src="/static/images/bootstrap-icons-1.0.0/question-circle.svg" alt="" width="16" height="16" title="more_info"></span></a>
                            </p>
                        <div class="collapse" id="explainQuery">
                            <ul>
                                <li><span style="font-weight: bold;">World</span> {{ _('gives observations about all the world') }}.</li>
                                <li><span style="font-weight: bold;">Worst EU</span> {{ _('behaviour of the worst EU countries') }}.
                                                                                     {{ _('Worst is about the chosen main information, remarking that ratio to population matter') }}.
                                                                                     {{ _('Using Interval, you can choose how many countries to show, sorted from worst to best') }}.</li>
                            </ul>
                        </div>
                            <p>
                                {# {{ form.fields.label }}<br> #}
                                {{ form.query(**{ 'id':    'query',
                                                  'style': 'list-style-type:none;padding:0;margin:0;',
                                                }
                                             ) }}<br>
                                {% for error in form.query.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                        </div>

                        <div class="col-md-5" id="intervalDiv">
                            <p><span  style="font-style: italic;text-decoration: underline;">{{_('Interval')}}</span> {{_('to choose in case of Worst') }} <i>{{ _('something') }}</i> {{ _('query') }}.
                               <a data-toggle="collapse" href="#explainInterval"><span><img src="/static/images/bootstrap-icons-1.0.0/question-circle.svg" alt="" width="16" height="16" title="more_info"></span></a>
                            </p>
                            <div class="collapse" id="explainInterval">
                                <p> 
                                {{ _('In case of Worst') }} <i>{{ _('something') }}</i> {{ _('query, you wish to choose how many countries to show, sorted from worst to best')}}.
                                {{ _('Where the worst is catched by index number 1')}}
                                </p>
                                <ul>
                                    <li><span style="font-weight: bold;">from</span> {{ _('left index of interval starting from 1') }}</li>
                                    <li><span style="font-weight: bold;">to</span> {{ _('right index of interval, up to 15') }}</li>
                                </ul>
                            </div>
                            <p>
                                {# {{ form.n1.label }}<br> #}
                                from: {{ form.n1(**{'id': 'n1'}) }}<br>
                                {% for error in form.n1.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {# {{ form.n2.label }}<br> #}
                                to:&nbsp;&nbsp;&nbsp;&nbsp; {{ form.n2(**{'id': 'n2'}) }}<br>
                                {% for error in form.n2.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                        </div>
                        
                        <div class="col-md-2">
                        </div>

                    </div>
{% endblock %}


{% block other_javascript %}
    <script>
        $(function() {
                var in_query = $("input[name=query]:checked").val();
                if(in_query=='World'){
                    document.getElementById('n1').disabled = true;
                    document.getElementById('n2').disabled = true;
                    }
                else if(in_query=='Worst_World' || in_query=='Worst_EU'){
                    document.getElementById('n1').disabled = false;
                    document.getElementById('n2').disabled = false;
                    }
                }) 
    </script>
    <script>
        $(function() {
            $('#query li').click( function() {
                var in_query = $("input[name=query]:checked").val();
                console.log(in_query);
                if(in_query=='World'){
                    document.getElementById('n1').disabled = true;
                    document.getElementById('n2').disabled = true;
                    }
                else if(in_query=='Worst_World' || in_query=='Worst_EU'){
                    document.getElementById('n1').disabled = false;
                    document.getElementById('n2').disabled = false;
                    }
                }) })
    </script>
{% endblock %}
